<div class="external-container">
  <div (click)="onShowOrHideContent()">
    <img *ngIf="hero.name === 'Mickey Mouse' " src="../../../../assets/Mickey_Mouse.png" alt="">
    <img *ngIf="hero.name === 'Mulan' " src="../../../../assets/Mulan.jpg" alt="">
    <img *ngIf="hero.name === 'Simba' " src="../../../../assets/simba.jpg" alt="">
    <img *ngIf="hero.name === 'Aladdin' " src="../../../../assets/Aladdin.jpg" alt="">
    <img *ngIf="hero.name === 'Ariel' " src="../../../../assets/Ariel.jpg" alt="">
    <img *ngIf="hero.name === 'Elsa' " src="../../../../assets/Elsa.jpg" alt="">
    <img *ngIf="hero.name === 'Buzz Lightyear' " src="../../../../assets/Buzz Lightyear.jpg" alt="">
    <img *ngIf="hero.name === 'Pocahontas' " src="../../../../assets/Pocahontas.jpg" alt="">
    <img *ngIf="hero.name === 'Woody' " src="../../../../assets/Woody.jpg" alt="">
    <img *ngIf="hero.name === 'Cinderella' " src="../../../../assets/Cinderella.jpg" alt="">
  </div>
  <div [ngClass]="isDisplayNone? 'hero-card-content-hide' : 'hero-card-content-click' ">
    <h2>{{ hero.name }}</h2>
    <p>Ability: {{ hero.ability }}</p>
    <p>ID: {{ hero.id }}</p>
    <p>Start Date: {{ hero.startDate | date }}</p>
    <p>Suit Colors: {{ hero.suitColors.join(', ') }}</p>
    <p>Starting Power: {{ hero.startingPower }}</p>
    <p>Current Power: {{ hero.currentPower }}</p>
    <p>Was added to My-Heroes: {{ hero.addedToMyHeroes }}</p>
    <hr />
    <button
    class="add-to-my-Heroes"
    (click)="onAddToMyheroes(hero, i)"
    *ngIf="!hero.addedToMyHeroes"
     >+</button>
  </div>
</div>

