<div class="external-container">
  <h1>My Heroes</h1>
  <div class="hero-cards-container">
    <div class="hero-card" *ngFor="let hero of displayedItems; let i = index">
      <app-hero-card [hero]="hero">
        <div class="button-container">
          <button
          class="train-my-Heroes"
          (click)="trainMyHero(getIndexById(hero.id))"
          *ngIf="hero.addedToMyHeroes"
           >Train {{hero.name}}
          </button>
          </div>
      </app-hero-card>
    </div>
  </div>
  <div class="pagination">
    <button class="btn-1" (click)="prevPage()" [disabled]="currentPage === 1">Previous</button>
    <div>{{currentPage}} \ {{totalPages}}</div>
    <button class="btn-1" (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button>
  </div>
</div>

