*{
  box-sizing: border-box;
}

body{
  margin: 0;
}

.container {
  height: 100px;
  background: rgb(131,58,180);
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(102,125,13,1) 36%, rgba(252,176,69,1) 100%);
  background: linear-gradient(90deg, rgb(58 57 59) 0%, rgb(138 158 62) 36%, rgb(141 97 35) 100%);
  background: linear-gradient(90deg, #9E9E9E 0%, #607D8B 36%, #9E9E9E 100%);
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 20px;
}

h1{
  text-align: center;
  margin: 0;
  padding: 20;

}







.external-all-button-container{
  display: flex;
  justify-content: space-evenly;
}

.external-button-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;

}

.btn-1 {
  font-family: href="https://fonts.googleapis.com/css2?family=Lato&display=swap";
  background: rgb(48, 56, 160);
  background: linear-gradient(0deg, rgb(95, 103, 211) 0%, rgba(12,25,180,1) 100%);
  border: none;
  border-radius: 20px;
  padding: 10px;
  color: #f5e1e1;
  margin-top: 22px;
}
.btn-1:hover {
   background: rgb(0,3,255);
background: linear-gradient(0deg, rgba(0,3,255,1) 0%, rgba(2,126,251,1) 100%);
}

.button-content{
  font-size: 20px;
}









