*{
  box-sizing: border-box;
}

body{
  margin: 0;
}

.container {
  height: 100px;
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

h1{
  text-align: center;
  margin: 0;
  padding: 20;

}








