<div class="external-container">
  <h1>Heroes List</h1>
  <div class="hero-cards-container">
    <div class="hero-card" *ngFor="let hero of displayedItems; let i=index">
      <app-hero-card [hero]="hero">

        <div class="button-container">
          <button
        class="add-to-my-Heroes"
        (click)="onAddToMyheroes(hero, (i+((currentPage-1)*itemsPerPage)))"
        *ngIf="!hero.addedToMyHeroes"
         >Add {{hero.name}} to your heroes
        </button>
        </div>

        <div class="message-hero-was-add"
        *ngIf="hero.addedToMyHeroes"
         >{{hero.name}} was added to your heroes
        </div>
      </app-hero-card>
    </div>
  </div>
  <div class="pagination">
    <button class="btn-1" (click)="prevPage()" [disabled]="currentPage === 1">Previous</button>
    <div>{{currentPage}} \ {{totalPages}}</div>
    <button class="btn-1" (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button>
  </div>

</div>










