<div class="external-container">
<div class="login-box">
  <h2>sign-up</h2>
  <!-- <label class="email-label">E-mail</label> -->
  <form [formGroup]="form" (ngSubmit)="handleSubmit()">

    <div class="user-box">
      <input id="name" type="text" class="form-control" formControlName="name">
      <label for="name">
        Name:
      </label>
      <div *ngIf= "!form.get('name')?.valid && form.get('name')?.touched" class="error-message">
        Please enter a valid name
      </div>

    </div>

    <div class="user-box">
      <input id="email" type="email"  class="form-control" formControlName="email">
        <label for="email">
          E-mail:
        </label>
        <div *ngIf= "!form.get('email')?.valid && form.get('email')?.touched" class="error-message">
          Please enter a valid e-mail
        </div>
    </div>

    <div class="user-box">
      <input id="password" type="password" class="form-control" formControlName="password">
      <label for="password">Password</label>
    </div>

    <div *ngIf= "!form.get('password')?.valid && form.get('password')?.touched" class="error-message">
      Password must have at least 8 characters with one capital letter, one digit, and one non-alphanumeric character.
    </div>

    <button href="#" type="submit" [disabled]="!form.valid">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      Submit
    </button>



  </form>
  <a routerLink="/log-in">Already registered? sign-in</a>

</div>

</div>




