<div class="external-container">
  <h1>My Heroes</h1>


<div class="external-all-button-container">
  <div class="external-button-container">
    <button routerLink="/app-heroes-list" class="custom-btn btn-1">
      <span class="button-content">
        Go to all Heroes
      </span>
    </button>
  </div>
  <div class="external-button-container">
    <button routerLink="/log-in" class="custom-btn btn-1">
      <span class="button-content">
      Log-out
      </span>
    </button>
  </div>
</div>

  <div class="hero-cards-container">
    <div class="hero-card" *ngFor="let hero of myHeroes; let i = index">
      <app-hero-card [hero]="hero" [myHeroes]="myHeroes" [i]="i">
      </app-hero-card>

      <div class="button-container">

      <button
      class="train-my-Heroes"
      (click)="trainMyHero(i)"
      *ngIf="hero.addedToMyHeroes"
       >Train {{hero.name}}
      </button>
      </div>

    </div>
  </div>




</div>
