body{
  box-sizing: border-box;
  width: 100%;
  height: 100%;

}
.external-container{
  display: flex;
  justify-content: center;
}

.modal-container{
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  z-index: 100;
  width: 400px;
  height: 200px;
  background: rgb(2,0,36);
  background: linear-gradient(305deg, rgba(2,0,36,1) 0%, rgba(134,150,144,0.3337710084033614) 0%, rgba(95,175,191,1) 0%);
  box-shadow: 0px -2px 14px 17px rgba(0,0,0,0.21);
-webkit-box-shadow: 0px -2px 14px 17px rgba(0,0,0,0.21);
-moz-box-shadow: 0px -2px 14px 17px rgba(0,0,0,0.21);

}

.modal-content{
    font-size: 22px;
    color: #163046;
    padding: 10px;
    font-weight: bold;
}

button{
  background-color: #163046;
  color: white;
  border-radius: 5px;
  font-size: 20px;
  padding-left: 10px;
  padding-right: 10px;
}
